{% extends 'base.html.twig' %}
{% block content %}
	<div class="row">
		<div class="col-lg-10 col-md-10 mx-auto">
			<div class="row">
					<a href="{{ asset('downloads/Julien Delacourt PHP Dev.pdf') }}" class="nav-link" target="blank">Mon CV PHP</a>
					<br>
					<a href="{{ asset('downloads/Julien Delacourt Java Dev.pdf') }}" class="nav-link" target="blank">Mon CV JAVA</a>
			</div>
		</div>
	</div>
	<hr>
{% endblock %}
