{% extends 'base.html.twig' %}
{% block content %}
	<div class="row">
		<div class="col-lg-10 col-md-10 mx-auto">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<img class="photo-profil" src="images/moi.png" alt="julien delacourt - développeur web junior">
				</div>

				<div class="col-lg-9 col-md-9 intro">
					<h3>Bonjour et bienvenue sur mon site perso !</h3>
					<p>
						Je suis Julien Delacourt, <strong>développeur web</strong> dans la région de Montpellier depuis 2016 après avoir suivi une formation de développeur web à <a href="http://www.lidem.eu/">L'Idem</a> en 2015 suite à <strong><a href="/cursus">un parcours atypique</a></strong>.<br>
						Je suis capable de réaliser <strong>des sites web</strong> autant statiques que <strong>dynamiques</strong>, vitrine ou <strong>e-commerce</strong>, vous pouvez consulter mes réalisations dans ma rubrique <strong><a href="/portfolio">Portfolio</a></strong> ainsi que les <strong><a href="/skills">différentes technos</a></strong> que j'ai pu utilisé.<br>
						Dans ma vie personnelle, j'aime les voyages, la musique (sauf le rap), la cuisine et le sport (enfin surtout le regarder <i class="fa fa-smile-o"></i> ) <br>
						J'aimerai également participer au <strong>développement digital</strong> des sports peu médiatisés ainsi qu'au sport féminin. Mes futurs projets personnels tourneront autour de ces domaines.
					</p>
				</div>
			</div>
		</div>
	</div>
	<hr>
{% endblock %}