{% extends 'admin/dashboard.html.twig' %}
{% block title %}<title>Julien Delacourt - Dashboard - Tous les Diplômes</title>{% endblock %}
{% block header %}
<h2 class="pageheader-title">Dashboard - Tous les Diplômes</h2>
<div class="page-breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% block breadcrumb %}
            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tous les Diplômes</li>
            {% endblock %}
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Tous les Diplômes</h5>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-light">
                            <tr class="border-0">
                                <th class="border-0">Diplome</th>
                                <th class="border-0">Nom Etablissement</th>
                                <th class="border-0">Année d'obtention</th>
                            </tr>
                        </thead>
                        <tbody>
                    	{% for school in schools %}
                			<tr>
                				<td>{{ school.diplome }}</td>
                				<td>{{ school.name }}</td>
                                <td>{{ school.year }}</td>
                			</tr>
                    	{% else %}
				       	Pas encore de Diplomes
				    	<hr>
				       	{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
